
    <div class="width-max container-default">
        <div class="text-image ">
            <div class="text-item right">
                De simples usabilidade, o sistema conta com a principal função de adicionar transações específicas de três tipos diferentes.
                São elas:
                <ul>
                    <li class="weight-font">Troca;</li>
                    <li class="weight-font">Compra;</li>
                    <li class="weight-font">Venda.</li>
                </ul>
                <spam class="weight-font">Troca:</spam> É necessário a passagem dos valores de entrada(Compra) e saída(Venda).<br />
                <spam class="weight-font">Compra:</spam> Apenas deve ser passado o valor de entrada(Compra), não sendo possível adicionar o valor de venda.<br />
                <spam class="weight-font">Venda:</spam> Apenas deve ser adicionad o valor de saída(Venda);<br />
                <spam class="weight-font">OBS:</spam> Em nenhum dos casos é necessário adicionar a taxa ou comentários sobre a transação.<br />
                Após a confirmação, a nova transação será adicionada a lista de transações onde o usuário poderá acessar e ter o seu próprio controle.
            </div>
            <div class="img-item add-trade">
                <div class="ratio"></div>
            </div>
        </div>


        <div class="text-image ">
            <div class="text-item left">
                As transações são adicionadas a uma lista onde o usuário pode ter acesso quando quiser. Os valores são salvos e
                distribuídos em uma tabela para fácil gerenciamento.<br />
                Nesta tabela o usuário tem algumas funcionalidades disponíveis como:
                <ul>
                    <li class="weight-font">Deletar mais de uma transação por vez;</li>
                    <li class="weight-font">Adicionar uma nova transação;</li>
                    <li class="weight-font">Inspecionar uma ou mais transações, com um duplo clique em cima do item na tabela.</li>
                </ul>
                Com a tabela torna-se mais fácil para o usuário controlar as suas trocas, independente do tipo de transação que foi realizada,
                seja ela uma <spam class="weight-font">Troca</spam>, <spam class="weight-font">Compra</spam> ou <spam class="weight-font">Venda</spam>.
            </div>
            <div class="img-item trades-controll">
                <div class="ratio"></div>
            </div>
        </div>

        <hr class="special-hr" />

        <div class="text-image ">
            <div class="text-item right">
                A linha do tempo é responsável por mostrar ao usuário quando uma ação foi realizada.<br />
                Estar ações podem ser:
                <ul>
                    <li class="weight-font">Alterar a senha de acesso;</li>
                    <li class="weight-font">Alterar a frase secreta;</li>
                    <li class="weight-font">Adicionar uma transação;</li>
                    <li class="weight-font">Remover uma transação.</li>
                </ul>
                O objetivo da linha do tempo é tornar mais fácil para o usuário controlar suas ações e saber quando cada ação foi realizada.
            </div>
            <div class="img-item trades-controll">
                <div class="ratio"></div>
            </div>
        </div>


    </div>