@{
    ViewBag.Title = "Home Page";
}

<div class="row width-max container-default">
    <div class="col-md-4">
        <h2>Inicie</h2>
        <p>
            Para iniciar, basta entrar em contato com a Administração e realizar o cadastro no sistema, para assim poder
            ingressar em um fantástico sistema que te ajudará a controlar as suas transações com criptomoedas ou moedas
            internacionais.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Jurídica e Física</h2>
        <p>O sistema atende tanto Pessoas Jurídicas quanto pessoas físicas, e busca levar com simplicidade e usabilidade um sistema de
        auxílio, que o ajudará a ter maior controle sobre suas moedas adquiridas.</p>
        <p>@*<a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>*@</p>
    </div>
    <div class="col-md-4">
        <h2>Usabilidade</h2>
        <p>Um sistema fácil e simples de ser utilizado, onde o usuário poderá adicionar suas transações, sendo elas vendas, compras
        ou trocas de valores, passando taxas e deixando comentários explicativos sobre a troca realizada. Clique no botão abaixo
        para maiores informações.</p>
        <p><a class="btn-trades" href="@Url.Action("About","Home")">Informações&raquo;</a></p>
    </div>
</div>