<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="ConexaoBD" connectionString="Data Source=WESLEY-PC\SQLEXPRESS;Initial Catalog=DB_MANAGEMENT_BLOCKCHAIN;User ID=sa;Password=123; Min Pool Size=5;Max Pool Size=250; Connect Timeout=3" providerName="System.Data.SqlClient" />
    <!--/"data source = WESLEY-PC\SQLEXPRESS ;User=sa;Password=123;Initial Catalog=PizzariaDB"-->
  </connectionStrings>
</configuration>